:root {
  --primary-color: rgba(117, 117, 117, 1);
  --secondary-color: rgba(255, 255, 255, 1);
  --semiwhite-color: rgba(255, 255, 255, 0.6);
  --primary-black: rgba(33, 33, 33, 1);
  --blue-color: rgba(33, 150, 243, 1);
  --main-button-color: rgba(245, 244, 250, 1);
  --secondary-black: rgba(0, 0, 0, 1);
  --header-background-color: rgba(236, 236, 236, 1);
  --dark-color: rgba(47, 48, 58, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  width: 1600px;
  margin: 0px auto;
}
.menu {
  color: var(--primary-black);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.main-title {
  color: var(--secondary-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.second-title {
  color: var(--primary-black);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.menu:hover,
.menu:focus {
  color: var(--blue-color);
}

.header-contact {
  color: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  list-style-type: none;
}

.header-contact:hover,
.header-contact:focus {
  color: var(--blue-color);
}

.footer-style {
  background-color: var(--dark-color);
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  font-style: inherit;
  letter-spacing: 0.03em;
}

.address-description {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  font-style: inherit;
  letter-spacing: 0.03em;
}

.adress {
  color: var(--secondary-color);
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  font-style: inherit;
  letter-spacing: 0.03em;
}

.footer-contact {
  color: var(--semi-white-color);
  text-decoration: none;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  font-style: inherit;
  letter-spacing: 0.03em;
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--blue-color);
}

.description {
  background-color: var(--dark-color);
}

.header-logo {
  font-family: "Raleway";
  color: var(--secondary-black);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.footer-logo {
  font-family: "Raleway";
  color: var(--secondary-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logo {
  color: var(--blue-color);
}

.button-primary {
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  color: var(--secondary-color);
  letter-spacing: 0.06em;
  background-color: var(--blue-color);
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--main-button-color);
  color: var(--blue-color);
}

.button {
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  color: var(--primary-black);
  letter-spacing: 0.03em;
  background-color: var(--main-button-color);
  border: none;
  border-radius: 4px;
  height: 38px;
}

.button:hover {
  color: white;
  background-color: var(--blue-color);
}
.button:focus {
  background-color: var(--blue-color);
}

.header-title {
  color: var(--primary-black);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.header-text {
  color: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.team-names {
  color: var(--primary-black);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  border: #ffffff;
}
.position-name {
  color: inherit;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.portfolio-title {
  color: var(--primary-black);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-subtitle {
  color: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.border-header {
  border-bottom: 1px solid;
  border-color: var(--grey-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 215px;
  padding-right: 215px;
}
.header-description {
  padding: 24px 15px 25px 15px;
}

.header-section {
  width: 1170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.navigation-description {
  margin-left: 93px;
  flex-grow: 2;
  display: flex;
}
.main-menu {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 46px;
}
.contact {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 0;
  margin-left: 356px;
}
.description {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 696px;
  justify-content: center;
  padding-left: 452px;
  padding-right: 452px;
  padding-top: 200px;
  padding-bottom: 200px;
  gap: 30px;
}
.p-style {
  margin: 0;
  display: flex;
  gap: 30px;
  padding-left: 0;
  padding-right: 215;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}

.main-button {
  margin: 0;
  text-align: center;
  padding: 10px 41px 10px 42px;
}
.style-sektion1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  align-items: left;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section2-style {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  align-items: center;
  padding-top: 0;
}
.work-description {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.paragraph-style li {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 10px;
}
.section3-style {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  align-items: center;
  background-color: #f5f4fa;
  padding-bottom: 94px;
  padding-left: 215px;
  padding-right: 215px;
}
.team-item {
  margin: 0;
}

.team {
  width: 1170px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.team-item-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
  padding-top: 30px;
}
.div-container {
  width: 1200px;
  margin-left: 200px;
  padding-left: 15px;
}
.main-portfolio {
  margin: 0;
}

.portfolio-style {
  width: 1170px;
  margin: 0px;
}

.button-description {
  margin-bottom: 50px;
  padding-top: 0;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  flex-basis: calc((100% - 60%) / 3);
  padding-left: 0px;
  letter-spacing: 0.03em;
}
.portfolio-menu {
  display: flex;
  justify-content: center;
  gap: 8px;
  width: auto;
}
.button {
  padding: 6px 22px;
}
.portfolio-item {
  width: 370px;
  box-sizing: border-box;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  letter-spacing: 0.03em;
}

.portfolio-item-description {
  margin: 0;
  text-align: left;
}

.portfolio-subject {
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
}
.addres {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 0;
}

.footer-style {
  padding: 60px 0px 60px 0px;
  width: 1600px;
}

.footer-style .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
